* {
  margin: 0;
  padding: 0;
  border: 0;
}

html {
  position: relative;
}

body {
  font-family: "futura-pt", sans-serif;
  font-size: 20px;
  font-weight: 400;
  background: #fff;
  color: #666;
}
@media (max-width: 700px) {
  body {
    font-size: 18px;
  }
}

p {
  line-height: 1.6;
  margin-bottom: 20px;
}

a {
  text-decoration: none;
  padding-bottom: 2px;
  border-bottom: 2px solid #444;
  color: #000;
  -webkit-transition: all .2s ease;
          transition: all .2s ease;
}
a:hover {
  color: #03c;
  border-color: #03c;
}

a.grey {
  color: #bbb;
  border-color: #bbb;
}
a.grey:hover {
  color: #03c;
  border-color: #03c;
}

img {
  width: 100%;
}

.link {
  display: inline-block;
}

h1 {
  font-family: "freight-text-pro",sans-serif;
  font-weight: 600;
  font-size: 40px;
  margin-bottom: 30px;
  color: #111;
}
@media (max-width: 650px) {
  h1 {
    font-size: 30px;
  }
}

h4 {
  text-transform: uppercase;
  font-weight: 600;
  font-size: 14px;
  color: #444;
  letter-spacing: 3px;
  margin-bottom: 30px;
}
@media (max-width: 650px) {
  h4 {
    font-size: 16px;
  }
}

header {
  width: 250px;
  float: left;
}
header:after {
  content: "";
  display: table;
  clear: both;
}
@media (max-width: 1200px) {
  header {
    width: 250px;
    margin: auto;
    float: none;
  }
}

.dot {
  display: block;
  width: 45px;
  height: 45px;
  float: left;
  border-radius: 40px;
  margin-top: 40px;
  border: 10px solid #111;
  -webkit-transition: all .3s ease;
          transition: all .3s ease;
}
@media (max-width: 650px) {
  .dot {
    margin: 5px auto 0;
  }
}
.dot:hover {
  border-radius: 0;
  border-color: #000;
  -webkit-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
          transform: rotate(45deg);
}

.line {
  display: block;
  width: 10px;
  height: 80px;
  background: #111;
  margin-top: 100px;
  float: right;
  -webkit-transition: all .3s ease;
          transition: all .3s ease;
  -webkit-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
          transform: rotate(45deg);
}
@media (max-width: 650px) {
  .line {
    float: right;
    margin: auto;
    margin-right: 20px;
  }
}
.line:hover {
  border-color: #000;
  -webkit-transform: rotate(-45deg);
      -ms-transform: rotate(-45deg);
          transform: rotate(-45deg);
}

.dot.small {
  width: 20px;
  height: 20px;
  margin-top: 180px;
  margin-left: 40px;
  border-radius: 0;
  -webkit-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
          transform: rotate(45deg);
}
@media (max-width: 650px) {
  .dot.small {
    margin: 20px auto 0 50px;
  }
}
.dot.small:hover {
  border-radius: 50%;
  -webkit-transform: rotate(190deg);
      -ms-transform: rotate(190deg);
          transform: rotate(190deg);
}

.container {
  max-width: 980px;
  margin: 100px auto 40px;
  padding: 0 6%;
  position: relative;
}
.container:after {
  content: "";
  display: table;
  clear: both;
}

.text {
  max-width: 600px;
  overflow: hidden;
}

.about .text {
  float: right;
}
@media (max-width: 1200px) {
  .about .text {
    max-width: 100%;
    margin-top: 80px;
    float: left;
  }
}
.about img {
  margin-top: 80px;
}

.projects .link {
  margin-top: 0px;
  margin-right: 20px;
  display: inline-block;
}

.project-item {
  margin-bottom: 40px;
}
.project-item span {
  margin-top: 10px;
  display: block;
}

.project-title {
  font-family: "freight-text-pro", sans-serif;
  font-size: 32px;
  display: inline-block;
  font-weight: 600;
  border: 0;
}

.awards .link {
  font-family: "freight-text-pro", sans-serif;
  font-weight: 600;
  margin-right: 5px;
  margin-bottom: 10px;
  font-size: 32px;
  border: 0;
}

.elsewhere {
  border: 2px solid #444;
  margin-top: -20px;
  max-width: 600px;
  float: right;
  width: auto;
  padding: 20px;
}
.elsewhere .link {
  margin-right: 20px;
  margin-bottom: 15px;
  border: 0;
}

footer {
  background: #f0efe8;
  padding: 20px 0;
  word-break: break-word;
  overflow: hidden;
}
footer .contact {
  float: left;
}
footer .contact a {
  border: 0;
}
