@font-face {
  font-family: 'GT America';
  src: url('../fonts/GT-America-Extended-Bold.eot');
  src: url('../fonts/GT-America-Extended-Bold.eot?#iefix') format('embedded-opentype'),
       url('../fonts/GT-America-Extended-Bold.woff') format('woff');
  font-weight: 800;
  font-style: normal;
  font-stretch: normal;
}

@font-face {
  font-family: 'Graphik';
  src: url('../fonts/Graphik-Regular-Web.eot');
  src: url('../fonts/Graphik-Regular-Web.eot?#iefix') format('embedded-opentype'),
       url('../fonts/Graphik-Regular-Web.woff') format('woff');
  font-weight: 800;
  font-style: normal;
  font-stretch: normal;
}

@font-face {
  font-family: 'Tiempos Text';
  src: url('../fonts/TiemposTextWeb-Regular.eot');
  src: url('../fonts/TiemposTextWeb-Regular.eot?#iefix') format('embedded-opentype'),
       url('../fonts/TiemposTextWeb-Regular.woff') format('woff');
  font-weight: 400;
  font-style: normal;
  font-stretch: normal;
}

@font-face {
  font-family: 'Tiempos Text';
  src: url('../fonts/TiemposTextWeb-RegularItalic.eot');
  src: url('../fonts/TiemposTextWeb-RegularItalic.eot?#iefix') format('embedded-opentype'),
       url('../fonts/TiemposTextWeb-RegularItalic.woff') format('woff');
  font-weight: 400;
  font-style: italic;
  font-stretch: normal;
}

* {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
  outline: none;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, “Roboto”, “Droid Sans”, “Helvetica Neue”, Helvetica, Arial, sans-serif;
  color: rgba(0,0,0,.8);
  background: #f3f1ea;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  -webkit-font-feature-settings: "liga", "dlig";
  font-feature-settings: "liga", "dlig";
  font-size: 16px;
  @media (max-width: 600px) {
    font-size: 14px;
  }
}

a {
  font-family: -apple-system, BlinkMacSystemFont, “Roboto”, “Droid Sans”, “Helvetica Neue”, Helvetica, Arial, sans-serif;
  color: #000;
  text-decoration: none;
  transition: all .2s ease;
}

p {
  font-family: 'Tiempos Text';
  margin-bottom: 30px;
}

p a {
  text-decoration: underline;
}

p, ul  {
  line-height: 1.6;
  -webkit-hyphens: auto;
  hyphens: auto;
}

h1, h2, h3, h4, h5 {
  font-weight: normal;
  color: #111;
}

h1 {
  font-family: "GT America";
  font-size: 44px;
  line-height: 1.2;
}

h2 {
  margin-bottom: 2%;
  line-height: 1.4;
}

h3 {
  margin-bottom: 15px;
  line-height: 1.4;
}

h4 {
  font-size: 18px;
  font-weight: 600;
  color: #111;
  margin-bottom: 10px;
  line-height: 1.2;
}

img {
  width: 100%;
  display: block;
}

ul {
  list-style: none;
}

li {
  padding: 20px 0;
  border-bottom: 1px solid rgba(0,0,0,.1);
}

.wrap {
  max-width: 960px;
  margin: 0 auto;
}

.flex-grid {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.portrait {
  display: block;
  max-width: 30%;
  position: relative;
  @media (max-width: 600px) {
    margin-right: 0;
    max-width: 100%;
    width: 100%;
  }
}

.caption {
  font-family: 'Tiempos Text';
  display: block;
  padding-top: 10px;
  color: #666;
  font-size: 12px;
  a {
    color: #666;
    text-decoration: underline;
  }
  @media (max-width: 600px) {
    font-size: 12px;
  }
}

.site-title {
  font-size: 16px;
  margin-top: 60px;
}

.name {
  font-weight: 500;
  margin-bottom: 5px;
}

.hero {
  margin-top: 80px;
}

.introduction {
  margin-top: -12px;
  width: 65%;
}

.interview {
  margin-top: 100px;
}

.interview p {

}

.col {
  width: 48%;
}

.site-footer {
  margin-top: 60px;
}
