@font-face {
  font-family: 'GT America';
  src: url('../fonts/GT-America-Extended-Bold.eot');
  src: url('../fonts/GT-America-Extended-Bold.eot?#iefix') format('embedded-opentype'),
       url('../fonts/GT-America-Extended-Bold.woff') format('woff');
  font-weight: 800;
  font-style: normal;
  font-stretch: normal;
}

@font-face {
  font-family: 'Graphik';
  src: url('../fonts/Graphik-Regular-Web.eot');
  src: url('../fonts/Graphik-Regular-Web.eot?#iefix') format('embedded-opentype'),
       url('../fonts/Graphik-Regular-Web.woff') format('woff'),
       url('../fonts/Graphik-Regular-Web.ttf') format('truetype'),
       url('../fonts/Graphik-Regular-Web.svg#Graphik-Regular') format('svg');
  font-weight: 400;
  font-style: normal;
  font-stretch: normal;
}

@font-face {
  font-family: 'Graphik';
  src: url('../fonts/Graphik-RegularItalic-Web.eot');
  src: url('../fonts/Graphik-RegularItalic-Web.eot?#iefix') format('embedded-opentype'),
       url('../fonts/Graphik-RegularItalic-Web.woff') format('woff'),
       url('../fonts/Graphik-RegularItalic-Web.ttf') format('truetype'),
       url('../fonts/Graphik-RegularItalic-Web.svg#Graphik-RegularItalic') format('svg');
  font-weight: 400;
  font-style: italic;
  font-stretch: normal;
}

@font-face {
  font-family: 'Tiempos Text';
  src: url('../fonts/TiemposTextWeb-Regular.eot');
  src: url('../fonts/TiemposTextWeb-Regular.eot?#iefix') format('embedded-opentype'),
       url('../fonts/TiemposTextWeb-Regular.woff') format('woff');
  font-weight: 400;
  font-style: normal;
  font-stretch: normal;
}

@font-face {
  font-family: 'Tiempos Text';
  src: url('../fonts/TiemposTextWeb-RegularItalic.eot');
  src: url('../fonts/TiemposTextWeb-RegularItalic.eot?#iefix') format('embedded-opentype'),
       url('../fonts/TiemposTextWeb-RegularItalic.woff') format('woff');
  font-weight: 400;
  font-style: italic;
  font-stretch: normal;
}

* {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
  outline: none;
}

html {
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  -webkit-font-feature-settings: "liga", "dlig";
  font-feature-settings: "liga", "dlig";
  font-size: 1.1rem;
  @media (max-width: 600px) {
    font-size: 16px;
  }
}

body {
  font-family: Tiempos Text;
  color: #3d464d;
  background: #f3f1ea;
}

a {
  color: #000;
  text-decoration: none;
  transition: all .2s ease;
}

p {
  margin-bottom: 20px;
}

p, ul  {
  line-height: 1.8rem;
  -webkit-hyphens: auto;
  hyphens: auto;
}

.copyright {
  color: #999;
  margin-top: 40px;
  font-size: .8rem;
}

p a,
li a {
  padding-bottom: -4px;
  border-bottom: 1px solid #999;
  &:hover {
    background-position: 0;
  }
}

h1, h2, h3, h4, h5 {
  font-family: GT America;
  font-weight: normal;
  color: #111;
}

h1 {
  font-size: 1.6rem;
  line-height: 1.4;
  margin-bottom: 2%;
}

h2 {
  font-size: 1.2rem;
  margin-bottom: 2%;
  line-height: 1.4;
}

h3 {
  font-size: 22px;
  margin-bottom: 15px;
  line-height: 1.4;
}

h5 {
  font-size: 18px;
}

img {
  width: 100%;
  display: block;
}

ul {
  list-style: none;
}

li {
  padding: 20px 0;
  border-top: 1px solid #eee;
  &:last-child {
    border-bottom: 1px solid #eee;
  }
  @media (max-width: 600px) {
  }
}

input {
  box-sizing: border-box;
  -webkit-appearance: none;
  appearance: none;
  font-size: 18px;
  padding: 20px;
  outline: none;
  border-radius: 0;
  border: 1px solid #ccc;
  width: 100%;
}

input[type="submit"] {
  background: #fff;
  border: 1px solid #ccc;
  cursor: pointer;
  transtion: all .4s ease;
}

.m--b--20 {
  margin-bottom: 20px;
}

.m--b--40 {
  margin-bottom: 40px;
}

.m--b--80 {
  margin-bottom: 80px;
}

.center--text {
  text-align: center;
}

.border {
  width: 100%;
  height: .5rem;
  background: #f8f7f3;
}

nav a {
  margin-right: 4%;
  color: #444;
}

.wrap {
  max-width: 1040px;
  margin: 6rem auto;
  padding: 0 5%;
  @media (max-width: 800px) {
    padding: 0 6%;
    margin: 2rem 0;
  }
}

.flex--grid {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: flex-start;
}

.flex--end {
  align-self: flex-end;
}

.flex--half {
  width: 48%;
  @media (max-width: 600px) {
    width: 100%;
    margin-bottom: 2rem;
  }
}

.flex--half--nm {
  @media (max-width: 600px) {
    margin-bottom: 0;
  }
}

.flex--third {
  width: 30%;
  @media (max-width: 600px) {
    width: 100%;
    margin-bottom: 0.5rem;
  }
}

.flex--sixtyfive {
  width: 65%;
  @media (max-width: 600px) {
    width: 100%;
    margin-bottom: 2rem;
  }
}

.flex__end {
  flex-direction: column;
  justify-content: space-between;
}

.flex__left {
  justify-content: flex-start;
}

.flex__center {
  align-items: center;
}

.site__intro h2:first-child {
  margin-bottom: 2rem;
}

.site__intro {
  @media (max-width: 800px) {
    margin-bottom: 3rem;
  }
}

.site__profile__image {
  width: 100%;
}

.p6 {
  padding: 6%;
}

.mb0 {
  margin-bottom: 0;
}


.bg--gray {
  background: #f2f2f2;
}

.bg--black {
  background: #111;
}

.white {
  color: #fff;
}

.portrait {
  margin-top: 10px;
  max-width: 240px;
  margin-right: 40px;
  position: relative;
  @media (max-width: 600px) {
    margin-right: 0;
    max-width: 100%;
    width: 100%;
  }
}

.caption {
  margin-top: 10px;
  color: #9ea3a6;
  font-size: .7rem;
  a {
    color: #9ea3a6;
    text-decoration: underline;
  }
  @media (max-width: 600px) {
    font-size: 12px;
  }
}

.content__section {
  margin-bottom: 2rem;
  @media (max-width: 800px) {
    margin-bottom: 2rem;
  }
}

.site__work__text {
  width: 48%;
  @media (max-width: 800px) {
    width: 100%;
  }
  p {
    margin-bottom: 0;
  }
}

.services__wrap {
  margin-top: 20px;
  span {
    display: block;
    border-top: 1px solid #eee;
    padding: 15px 0;
    font-size: 22px;
    color: #444;
    line-height: 1.5;
    &:last-child {
      border-bottom: 1px solid #eee;
    }
    @media (max-width: 800px) {
      font-size: 18px;
    }
  }
}

.page--articles {}

.article-link {
  padding: 2rem 0;
  border-bottom: 1px solid #f8f8f8;
}

.article--img {
  height: 100px;
  width: auto;
}

.article-date {
  font-size: 12px;
  color: #999;
  text-transform: uppercase;
  letter-spacing: .1rem;
}

.library--item {
  margin-bottom: 6rem;
}

.site__footer {
  font-size: 14px;
  .copyright {
    text-align: left;
    color: #ccc;
  }
}
