<header>
  <div class="wrap flex--grid">
    <a href="/" class="logo">Joshua Söhn</a>
    <nav>
      <a href="/articles">Articles</a>
      <a href="/library">Library</a>
      <a href="/news">News</a>
    </nav>
  </div>
</header>
