<header>
  <!-- <div class="wrap flex--grid">
  <div class="flex--third">
    <a href="/" class="logo">Joshua Söhn</a>
  </div>
  <nav class="flex--sixtyfive">
    <a href="/articles">Articles</a>
    <a href="/resources">Resources</a>
  </nav>
  </div> -->
</header>
