<header>
  <div class="wrap flex--grid">
  <div class="flex--third">
    <a href="/" class="logo">Joshua Söhn</a>
  </div>
    <nav class="flex--third">
      <a href="/articles">Writing</a>
      <a href="/newsletter">Newsletter</a>
    </nav>
    <div class="flex--third"></div>
  </div>
</header>
