<header>
  <div class="wrap flex--grid">
  <div class="flex--third">
    <a href="/" class="logo">Joshua Söhn</a>
  </div>
    <nav class="flex--third">
      <p>Digital Product Designer</p>
    </nav>
    <div class="flex--third"></div>
  </div>
</header>
