<div class="wrap page--articles">

<div class="flex--half">

<a class="article-link" href="https://medium.com/@joshuasoehn/my-love-hate-relationship-with-visual-design-af789b049fd3#.8bi66emon">
  <h2>My love/hate relationship with Visual Design</h2>
  <span class="article-date">January 2016</span>
</a>

<a class="article-link" href="https://medium.com/the-minimalist/buying-less-but-better-69556cc3f0aa#.34dntyp79">
  <h2>Buying less, but better</h2>
  <span class="article-date">January 2016</span>
</a>

</div>

</div>
