<div class="wrap page--articles">


<a class="article-link flex--grid flex--center" href="https://medium.com/@joshuasoehn/my-love-hate-relationship-with-visual-design-af789b049fd3#.8bi66emon">
  <div class="flex--third">
    <img class="article--img" src="https://cdn-images-1.medium.com/max/1600/1*oLx3PzOLF35u3a_wUnJemg.png" alt="">
  </div>
  <div class="flex--sixtyfive">
    <h2>My love/hate relationship with Visual Design&#x2197;&#xFE0E;</h2>
    <span class="article-date">January 2016</span>
  </div>
</a>

<a class="article-link flex--grid flex--center" href="https://medium.com/the-minimalist/buying-less-but-better-69556cc3f0aa#.34dntyp79">
  <div class="flex--third">
    <img class="article--img" src="https://cdn-images-1.medium.com/max/2000/1*YVLoVHq4UYxpO7N20YKMGA.png" alt="">
  </div>
  <div class="flex--sixtyfive">
    <h2>Buying less, but better&#x2197;&#xFE0E;</h2>
    <span class="article-date">January 2016</span>
  </div>
</a>

</div>

</div>
