<div class="wrap flex-grid">

  <div class="site-title">
    <div class="name">Joshua Söhn</div>
    <div class="position-location">Designer, Berlin</div>
  </div>

  <div class="hero flex-grid">
    <figure class="portrait">
      <img src="/images/joshuasoehn_0501.jpg" alt="Portrait">
    </figure>
    <div class="introduction">
      <h1>I create <span>digital software</span> for <span>human beings</span>, where all disciplines of design meet with technology.</h1>
      <span class="caption">Portrait by <a target="_blank" href="http://www.iamnotana.com/">Ana Santl</a></span>
    </div>
  </div>

  <div class="flex-grid interview">
    <div class="col">
      <h4>What exactly are you doing?</h4>
      <p>I'm mainly a Digital Product Designer, which means I'm designing and structuring digital products, like mobile apps, to make people happy while using those. I occasionally also do Front-End Development.</p>
      <h4>What is your goal?</h4>
      <p>I'm focused on creating simple-to-use, human-centered designs. I believe in doing good work without rushing, working <em>with</em> instead of <em>for</em> clients and putting quality over quantity.</p>
      <h4>What inspires you?</h4>
      <p>I'm most influenced and inspired by Minimalism, Scandinavian (especially Danish) design and individuals like Dieter Rams, Ken’ya Hara and Bruno Munari.</p>
      <h4>How can I reach you</h4>
      <p>Just send an email to <a href="mailto:hello@joshuasoehn.de">hello@joshuasoehn.de</a>. I'm also on <a href="https://twitter.com/joshuasoehn">Twitter</a> a lot. You can find snippets of my design work on <a href="https://dribbble.com/joshuasoehn">Dribbble</a>.</p>
    </div>
    <div class="col">
      <h4>So, what are you working on at the moment?</h4>
      <p>I'm currently working as a Designer for <a href="http://kontist.com">Kontist</a>, building a better banking experience for freelancers. I'm responsible for Brand, Marketing and Product Design. On the side I'm currently making sharing and managing contacts simpler.</p>
      <h4>Which tools do you use?</h4>
      <p>I mostly use Sketch for all of my digital design work, Affinty Designer for vector/print and Atom for coding (for example this website).</p>
      <h4>Any proof your work is actually good?</h4>
      <p>I hope so! It has been featured on some various sites such as <em>Siteinspire, Design Made In Germany, Smashing Magazine, The Gallery, Typeverywhere, 365 Awesome Designers</em> and <em>Nice Portfolio</em>. But that doesn't mean much tbh. I rather talk about what makes it good.</p>
    </div>
  </div>

  <%= partial "footer" %>

</div>
