<div class="wrap flex--grid">

<figure class="portrait m--b--20">
  <img src="/images/joshua.jpg" alt="">
  <div class="caption">Photo by <a href="http://corinnahopmann.com/">Corinna Hopmann</a></div>
</figure>

<div class="flex--sixtyfive">

  <h2 class="hero-headline m--b--80">Hey, my name is Joshua Söhn and I'm a Designer, creating digital software for human beings. I enjoy working at the intersection of design and technology.</h2>

  <div class="m--b--80">
    <p>Based in Berlin, Germany, I'm focused on creating simple-to-use, human-centered designs. I believe in doing good work without rushing, working <em>with</em> instead of <em>for</em> clients and putting quality over quantity.</p>
    <p>I'm most influenced and inspired by Minimalism, Scandinavian (especially Danish) design and individuals like Dieter Rams, Ken’ya Hara and Bruno Munari.</p>
    <p>I'm currently working as a Product Designer for <a href="http://kontist.com">Kontist&#x2197;&#xFE0E;</a>, building a better banking experience for freelancers.</p>
    <p>Before that I was freelancing and most recently worked on <a href="https://vossy.com/">Vossy&#x2197;&#xFE0E;</a>, a service to book boutique and luxury hotels, where I'm now a Design Advisor. You can view recent work snippets <a href="https://dribbble.com/joshuasoehn">on Dribbble&#x2197;&#xFE0E;</a>.</p>
    <p>My work has been featured on some various sites such as <em>Siteinspire, Sites we like, The Gallery, Typeverywhere, 365 Awesome Designers</em> and <em>Nice Portfolio</em>.</p>
  </div>

  <div class="m--b--80">
    <h3>Design Critiques</h3>
    <p>I’ve set aside some time every week to offer some design advise and critique. If you are interested in booking a session, please book it via <a href="https://www.designinc.com/joshuasoehn">Design Inc</a>.</p>
  </div>

  <div class="site__contact flex--grid">
    <h3>Say hi</h3>
    <ul>
      <li>Your can follow me on Twitter: <a href="https://twitter.com/joshuasoehn">@joshuasoehn</a></li>
      <li>Or write me an email: <a class="copy-email" href="mailto:hello@joshuasoehn.de">hello@joshuasoehn.de</a> (opens your system email client, if you prefer you can also <a class="copy-to-clipboard" href="#">copy the address to your clipboard</a>)</li>
    </ul>
    <p class="copyright">© <script>document.write(new Date().getFullYear());</script> Joshua Söhn unless otherwise stated.</p>
  </div>

</div>

</div>
