<div class="wrap flex-grid">

  <div class="page-1">
    <figure class="portrait">
      <img src="/images/joshua-portrait.jpg" alt="Portrait">
      <span class="caption">📷 by <a href="http://arisawyers.co/">Ari Sawyers</a></span>
    </figure>
  </div>

  <div class="page-2">

    <div class="site-title">
      <div class="name">Joshua Söhn</div>
      <div class="position-location">Designer, Berlin</div>
    </div>

    <h1 class="introduction">I create digital software for human beings to pay my water bills. Mostly where all disciplines of design meet with technology.</h1>

    <div class="flex-grid interview">
      <div class="col">
        <h4>What exactly are you doing?</h4>
        <p>I'm mainly a Digital Product Designer, which means I'm designing and structuring digital products, like mobile apps, to make people happy while using those. I occasionally also do Front-End Development.</p>
        <h4>What is your goal?</h4>
        <p>I'm focused on creating simple-to-use, human-centered designs. I believe in doing good work without rushing, working <em>with</em> instead of <em>for</em> clients and putting quality over quantity.</p>
        <h4>What inspires you?</h4>
        <p>I'm most influenced and inspired by Minimalism, Scandinavian (especially Danish) design and individuals like Dieter Rams, Ken’ya Hara and Bruno Munari.</p>
      </div>
      <div class="col">
        <h4>So, what are your working on at the moment?</h4>
        <p>I'm currently working as a Designer for <a href="http://kontist.com">Kontist</a>, building a better banking experience for freelancers. I'm responsible for Brand, Marketing and Product Design. On the side I'm currently making sharing and managing contacts simpler.</p>
        <h4>Which tools do you use?</h4>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Suscipit natus blanditiis iusto ratione unde tempore voluptate voluptatum quasi eaque officiis consequuntur est error doloribus illo quaerat corrupti odit, inventore, at?</p>
        <h4>Any proof your work is really good?</h4>
        <p>Yeah, it has been featured on some various sites such as <em>Siteinspire, Design Made In Germany, Smashing Magazine, The Gallery, Typeverywhere, 365 Awesome Designers</em> and <em>Nice Portfolio</em>. But that doesn't mean much tbh. I rather talk about what makes it good.</p>
        <%= partial "footer" %>
      </div>
    </div>

  </div>

</div>
