
<div class="wrap">

  <div class="content__section flex--grid">
    <figure class="portrait flex--half">
      <img src="/images/joshua.jpg" alt="">
      <div class="caption">Photo by <a href="http://corinnahopmann.com/">Corinna Hopmann</a></div>
    </figure>
    <h2 class="hero-headline">Hey, my name is Joshua Söhn and I'm a Designer, creating digital software for human beings. I enjoy working at the intersection of design and technology.</h2>
  </div>

  <div class="site__work content__section">
    <p>Based in Berlin, Germany, I'm focused on creating simple-to-use, human-centered designs. I believe in doing good work without rushing, working <em>with</em> instead of <em>for</em> clients and putting quality over quantity.</p>
    <p>I'm most influenced and inspired by Minimalism, Scandinavian (especially Danish) design and individuals like Dieter Rams, Ken’ya Hara and Bruno Munari.</p><br>
    <p>I'm currently working as a Product Designer for <a href="http://kontist.com">Kontist&#x2197;&#xFE0E;</a>, building a better banking experience for freelancers.</p><br>
    <p>Before that I was freelancing and most recently worked on <a href="https://vossy.com/">Vossy&#x2197;&#xFE0E;</a>, a service to book boutique and luxury hotels, where I'm now a Design Advisor. You can view recent work snippets <a href="https://dribbble.com/joshuasoehn">on Dribbble&#x2197;&#xFE0E;</a>.</p>
    <p>If you are interested in working with me, I'm currently sadly not available for any freelance work.</p><br>
    <p>My work has been featured on some various sites such as <em>Siteinspire, Sites we like, The Gallery, Typeverywhere, 365 Awesome Designers</em> and <em>Nice Portfolio</em>.</p>
  </div>

  <div class="site__contact content__section flex--grid">
    <div class="flex--half">
    <ul>
      <li><a href="https://twitter.com/joshuasoehn">@joshuasoehn</a></li>
    </ul>
    </div>
    <div class="flex--half">
    <ul>
      <li>
       <a href="mailto:hello@joshuasoehn.de">hello@joshuasoehn.de</a>
      </li>
    </ul>
    </div>
  </div>

</div>
