<div class="wrap">

  <div class="content__section flex--grid">

    <div class="site__intro flex--half">
      <h2>Joshua Söhn —</h2>
      <h2>Art Direction and Digital Product Design</h2>
    </div>

    <div class="site__about flex--half">
      <p>Based in Berlin, Germany I'm focused on creating simple, user-centered designs. I believe in doing good work without rushing, good relationships with clients and putting quality over quantity.</p>
      <p>I'm most influenced and inspired by Minimalism, Scandinavian (especially Danish) design and individuals like Dieter Rams, Erik Spiekermann and Bruno Munari.</p>
    </div>

  </div>

  <div class="site__profile__image content__section">
    <img src="https://daneden.imgix.net/2015/08/in-the-office.jpg?auto=format&dpr=2&ixjsv=2.0.0&q=50&w=715" alt="">
  </div>

  <div class="site__work content__section">
    <h2>Work</h2>
    <div class="site__work__text">
    <p>At the moment I'm working on a few long-time projects, which I'm gonna share as soon as they are released.</p><br>
    <p>In the meanwhile you can visit my <a target="_blank" href="https://joshuasoehn.dribbble.com">Dribbble Playbook</a> for an overview of my work.</p>
    <p>A full portfolio of projects I worked on is available on request (including a bunch of them done under NDA.)</p><br>
    <p>If you are interested in working with me, I'm pretty booked until around April. Just send me an email and we can talk about your project, goals, schedule and budget.</p><br>
    <p>I worked for some well-known brands such as Allianz, C&A, Ay Yildiz, Opel, Lufthansa, HPE and Eon. My work also has been featured on some various websites such as Siteinspire, Sites we like, The Gallery, Typeverywhere, 365 Awesome Designers and Nice Portfolio. This should convince you that the work I do is not shit, I hope it worked.</p>
    </div>
  </div>

  <div class="site__services content__section">
    <h2>I offer</h2>
    <div class="services__wrap">
      <span>Branding, Brand Strategy</span>
      <span>Art-Direction</span>
      <span>UI/UX Design, Visual Design, Interaction Design</span>
      <span>Consulting, Research</span>
      <span>Prototyping</span>
      <span>Front-end Development</span>
    </div>
  </div>

  <div class="site__contact content__section">
    <h2>Get in touch → <a href="mailto:hello@joshuasoehn.de">hello@joshuasoehn.de</a></h2>
  </div>

  <footer class="site__footer flex--grid">
    <span class="copyright">
      <script>new Date().getFullYear()>2010&&document.write("© "+new Date().getFullYear());</script> Joshua Söhn
    </span>
    <div class="social">
      <a target="_blank" href="https://twitter.com/joshuasoehn">Twitter</a>
      <a target="_blank" href="https://medium.com/@joshuasoehn">Writing</a>
      <a target="_blank" href="https://dribbble.com/joshuasoehn">Dribbble</a>
    </div>
  </footer>

</div>
