<div class="wrap">

  <div class="content__section flex--grid">

    <div class="site__intro flex--half">
      <h2>Art Direction and Digital Product Design</h2>
    </div>

    <div class="site__about flex--half">
      <p>Based in Berlin, Germany I'm focused on creating simple-to-use, human-centered designs. I believe in doing good work without rushing, working <em>with</em> instead of for clients and putting quality over quantity.</p>
      <p>I'm most influenced and inspired by Minimalism, Scandinavian (especially Danish) design and individuals like Dieter Rams, Erik Spiekermann and Bruno Munari.</p>
    </div>

  </div>

  <div class="site__profile__image content__section">
  <div class="border"></div>
  </div>

  <div class="site__work content__section">
    <div class="site__work__text">
    <p>I'm currently freelancing and working at <a target="_blank" href="http://kontist.com">Kontist</a>, building a better banking experience for freelancers.</p><br>
    <p>Your can view my <a target="_blank" href="https://www.linkedin.com/in/joshuasoehn">CV here</a>. A full portfolio of projects I worked on is available on request (including a bunch of them done under NDA.)</p><br>
    <p>If you are interested in working with me, I'm currently sadly not available for any new projects.</p><br>
    <p>In the past I had the opportunity to work with some well-known brands such as <em>Allianz, C&A, Opel, Lufthansa, HPE and Eon</em>. My work also has been featured on some various websites such as <em>Siteinspire, Sites we like, The Gallery, Typeverywhere, 365 Awesome Designers and Nice Portfolio</em>. This should convince you that the work I do is not shit, I hope it worked.</p>
    </div>
  </div>

<!--   <div class="site__services content__section">
    <h2>I offer</h2>
    <div class="services__wrap">
      <span>Branding, Brand Strategy</span>
      <span>Art-Direction</span>
      <span>UI/UX Design, Visual Design, Interaction Design</span>
      <span>Consulting, Research</span>
      <span>Prototyping</span>
      <span>Front-end Development</span>
    </div>
  </div> -->

  <div class="site__contact content__section">
    <h2>Get in touch → <a href="mailto:hello@joshuasoehn.de">hello@joshuasoehn.de</a></h2>
  </div>

  <footer class="site__footer flex--grid">
    <span class="copyright">
      <script>new Date().getFullYear()>2010&&document.write("© "+new Date().getFullYear());</script> Joshua Söhn
    </span>
    <div class="social">
      <a target="_blank" href="https://twitter.com/joshuasoehn">Twitter</a>
      <a target="_blank" href="https://medium.com/@joshuasoehn">Writing</a>
      <a target="_blank" href="https://dribbble.com/joshuasoehn">Dribbble</a>
    </div>
  </footer>

</div>
