<div class="wrap">

  <div class="library--intro center--text">
    <h1>Objects from my daily life.</h1>
  </div>

  <div class="library--item flex--grid">
    <div class="flex--half">
      <img src="/images/ace-and-tate-pierce.jpg " alt="">
    </div>
    <div class="flex--half">
      <h2>Pierce from Ace&Tate</h2>
      <p>A taller, leaner and roomier sibling to the chubby, rounded Prosperity and Contentment Pots. The Delight Pot features the same smooth stoneware of the rest of the family, as well as built-in stainless steel mesh filters that make brewing a breeze.</p>
    </div>
  </div>

  <div class="library--item flex--grid">
    <div class="flex--half">
      <img src="/images/design-as-art.jpg " alt="">
    </div>
    <div class="flex--half">
      <h2>Design as Art</h2>
      <p>A taller, leaner and roomier sibling to the chubby, rounded Prosperity and Contentment Pots. The Delight Pot features the same smooth stoneware of the rest of the family, as well as built-in stainless steel mesh filters that make brewing a breeze.</p>
    </div>
  </div>

  <div class="library--item flex--grid">
    <div class="flex--half">
      <img src="/images/delight-pot.jpg" alt="">
    </div>
    <div class="flex--half">
      <h2>Delight Pot from Paper&Tea</h2>
      <p>A taller, leaner and roomier sibling to the chubby, rounded Prosperity and Contentment Pots. The Delight Pot features the same smooth stoneware of the rest of the family, as well as built-in stainless steel mesh filters that make brewing a breeze.</p>
    </div>
  </div>

  <div class="library--item flex--grid">
    <div class="flex--half">
      <img src="/images/aiaiai-heaphones.jpg" alt="">
    </div>
    <div class="flex--half">
      <h2>Delight Pot from Paper&Tea</h2>
      <p>A taller, leaner and roomier sibling to the chubby, rounded Prosperity and Contentment Pots. The Delight Pot features the same smooth stoneware of the rest of the family, as well as built-in stainless steel mesh filters that make brewing a breeze.</p>
    </div>
  </div>



</div>
