<div class="wrap">

  <div class="flex--grid library--item">
    <div class="flex--third">
      <img src="http://corygibbons.com/content/3-journal/15-nikka-whisky-from-the-barrel/cory-gibbons-nikka-whisky-from-the-barrel.jpg" alt="">
    </div>
    <h5 class="flex--third">Pierce from Ace&Tate</h5>
    <div class="flex--third">
      <p>Really nice and cheap glasses from Netherlands based company Ace & Tate. Worth visiting a store if you are in need of either normal or sunglasses.</p>
    </div>
  </div>

  <div class="flex--grid library--item">
      <div class="flex--third">
      <img src="http://corygibbons.com/content/3-journal/13-found-muji/found-muji.jpg" alt="">
    </div>
  <h5 class="flex--third">Design as Art</h5>
    <div class="flex--third">
      <p>A taller, leaner and roomier sibling to the chubby, rounded Prosperity and Contentment Pots. The Delight Pot features the same</p>
    </div>
  </div>

  <div class="flex--grid library--item">
      <div class="flex--third">
      <img src="/images/delight-pot.jpg" alt="">
    </div>
  <h5 class="flex--third">Delight Pot from Paper&Tea</h5>
    <div class="flex--third">
      <p>I love coffee but tea even more. Paper and Tea is a specialty tea company founded in Berlin. You can read more about them <a href="http://prettystuff.io/paperandtea/">here</a> if you are interested.</p>
    </div>
  </div>



</div>
