<div class="wrap">
  <div class="flex--grid">
    <div class="flex--third">
      <h1>Resources</h1>
    </div>
    <div class="flex--sixtyfive">
      <p>A occasional updated list of resources and inspiration. Inspired by <a href="http://jessicahische.is/heretohelp">Jessica Hische&#x2197;&#xFE0E;</a> and <a href="http://kvng.co/discoveries">Kevin Ng&#x2197;&#xFE0E;</a>.</p>
    </div>
  </div>
</div>

<div class="wrap">

  <div class="flex--grid m--b--40">
    <div class="flex--third sticky"><p>Reading</p></div>
    <ul class="flex--third">
      <li><a href="https://www.penguin.co.uk/books/19371/design-as-art/">Design as Art</a></li>
      <li><a href="http://shop.gestalten.com/age-of-collage.html">The Age of Collage</a></li>
      <li><a href="https://www.creativereview.co.uk/live-small-japanese-housing-design/">Jutaku: Japanese Houses</a></li>
      <li><a href="http://shop.oreilly.com/product/0636920032090.do">UX Strategy</a></li>
    </ul>
    <ul class="flex--third">
      <li><a href="https://www.lars-mueller-publishers.com/designing-design">Designing Design</a></li>
      <li><a href="http://de.phaidon.com/store/design/as-little-design-as-possible-9780714849188/">Dieter Rams: As Little Design As Possible</a></li>
    </ul>
  </div>

  <div class="flex--grid m--b--40">
    <div class="flex--third sticky"><p>Recommended Agencies</p></div>
    <ul class="flex--third">
      <li><a href="https://bakkenbaeck.com/">Bakken & Bæck</a></li>
      <li><a href="http://newnow.de/">NewNow</a></li>
      <li><a href="https://area17.com/">Area 17</a></li>
    </ul>
    <ul class="flex--third">
      <li><a href="http://www.instrument.com/">Instrument</a></li>
      <li><a href="http://work.co/">Work & Co</a></li>
    </ul>
  </div>

  <div class="flex--grid m--b--40">
    <div class="flex--third sticky"><p>Twitter</p></div>
    <ul class="flex--third">
      <li><a href="https://twitter.com/dadj3ans">Garrett DeRossett</a></li>
      <li><a href="https://twitter.com/chopeh">Pete Lacey</a></li>
    </ul>
    <ul class="flex--third">
      <li><a href="https://twitter.com/LukesBeard">Luke Beard</a></li>
      <li><a href="https://twitter.com/_dte">Daniel Eden</a></li>
    </ul>
  </div>

  <div class="flex--grid m--b--40">
    <div class="flex--third sticky"><p>Favorite Berlin places</p></div>
    <ul class="flex--third">
      <li><a href="https://www.google.de/maps/place/do+you+read+me%3F!/@52.5271033,13.3955697,17z/data=!3m1!4b1!4m5!3m4!1s0x47a851e67c73b82f:0x73770cfe6639fb18!8m2!3d52.5271033!4d13.3977584">Do you read me?</a></li>
      <li><a href="https://www.google.de/maps/place/THE+BARN/@52.5274071,13.3981826,15z/data=!4m2!3m1!1s0x0:0x8af56d34e75a89?sa=X&ved=0ahUKEwjj15vt-PDOAhUE3CwKHaaYA-wQ_BIIgAEwDg">The Barn</a></li>
    </ul>
    <ul class="flex--third">
      <li><a href="https://www.google.de/maps/place/The+Klub+Kitchen/@52.5277315,13.4023468,17z/data=!3m1!4b1!4m5!3m4!1s0x47a851e3c56ae28d:0x7a5333b8316b6410!8m2!3d52.5277315!4d13.4045355">The Klub Kitchen</a></li>
      <li><a href="https://www.google.de/maps/place/YamYam+Berlin/@52.5275721,13.4061266,17z/data=!3m1!4b1!4m5!3m4!1s0x47a851e215abf731:0xb094e46585ed82e0!8m2!3d52.5275721!4d13.4083153">YamYam</a></li>
    </ul>
  </div>

  <div class="flex--grid m--b--40">
    <div class="flex--third sticky"><p>Watching</p></div>
    <ul class="flex--third">
      <li><a href="https://www.youtube.com/user/Kurzgesagt">Kurzgesagt</a></li>
      <li><a href="https://www.youtube.com/channel/UC7IcJI8PUf5Z3zKxnZvTBog">The school of Life</a></li>
    </ul>
    <ul class="flex--third">
      <li><a href="https://letterboxd.com/film/objectified/">Objectified</a></li>
    </ul>
  </div>



</div>
